<mat-toolbar class="toolbar">
    <mat-toolbar-row>

        <label style="color: azure;margin-left: 1%;"><b>Kanban Board</b></label>
        <label (click)="onDashboard()" style="color: azure;margin-left: 70%;font-size: large;">Dashboard</label>
        <label (click)="onLogout()" style="color: azure;margin-left: 5%;font-size: large;">Log Out</label>
        <!-- <label (click)="onClick()" style="color: azure;margin-left: 5%;font-size: large;">All users</label> -->
    </mat-toolbar-row>
</mat-toolbar>
<div class="container">
    <div *ngFor="let user of userData">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <p>{{user.fullName}}</p>
                </mat-card-title>
                <mat-card-subtitle>
                    <p>{{user.emailId}}</p>
                </mat-card-subtitle>

            </mat-card-header>
            <mat-card-content>
                <p>{{user.phoneNumber}}</p>
                <p>{{user.address}}</p>
                <p>{{user.department}}</p>
                <p>{{user.position}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="onClick(user.emailId)">Assign Task</button>
            </mat-card-actions>
        </mat-card>
    </div>

</div>