<body>

    <div>
    <mat-card id="container">
        <div id="head">
            <h3>|| Update Your Profile ||</h3>
        </div>
        <mat-divider></mat-divider>
        <br>

        <mat-card-content>
            <form id="update-form">
                <mat-form-field class="input-field" appearance="outline">
                    <mat-label>Full Name</mat-label>
                    <input matInput [(ngModel)]="user.fullName" name="fullName" type="text">
                </mat-form-field>
                <br>
                <mat-form-field class="input-field" appearance="outline">
                    <mat-label>Phone Number</mat-label>
                    <input matInput [(ngModel)]="user.phoneNumber" name="phoneNumber" type="text">
                </mat-form-field>
                <br>
                <mat-form-field class="input-field" appearance="outline">
                    <mat-label>Address</mat-label>
                    <input matInput [(ngModel)]="user.address" name="address" type="text">
                </mat-form-field>
                <br>
                <mat-form-field class="input-field" appearance="outline">
                    <mat-label>Department</mat-label>
                    <input matInput [(ngModel)]="user.department" name="department" type="text">
                </mat-form-field>
                <br>
                <mat-form-field class="input-field" appearance="outline">
                    <mat-label>Position</mat-label>
                    <input matInput [(ngModel)]="user.position" name="position" type="text">
                </mat-form-field>
                <mat-card-actions>
                    <button mat-raised-button type="submit" color="primary" (click)="onSubmit()"
                        style="margin-left: 250px;">Submit</button>
                </mat-card-actions>
            </form>
        </mat-card-content>
    </mat-card>
</div>
</body>